form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

input[type='email'],
input[type='password'] {
    height: 2rem;
    margin-bottom: .75rem;
    border-radius: 9999px;
    padding: 0 .75rem;
    border: 1px solid #000;
}