@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .App, .home {
    @apply w-full h-full;
}

h1 {
    @apply text-2xl lg:text-3xl font-bold;
}

h2 {
    @apply text-xl lg:text-2xl font-bold;
}

h3 {
    @apply text-lg lg:text-xl font-bold;
}

.pageTitle { 
    @apply text-primary border-b-2 border-purple-200 pb-4;
}

.home {
    @apply flex items-center;
}

.registerFrame,
.loginFrame {
    @apply py-12 px-6 w-full md:w-[600px] mx-auto shadow-xl;
}

.loginFrame {
    @apply bg-white text-dark border-4 border-dark;
}

.registerFrame {
    @apply bg-dark border-4 border-white;
}

/* Navbar */
header nav ul li .navItem {
    @apply block py-2 pr-4 pl-3 text-base border-b border-primary md:hover:bg-transparent md:border-0 md:hover:text-primary md:p-0;
}

header nav ul li .navItem.active {
    @apply block py-2 pr-4 pl-3 text-white bg-primary md:bg-transparent md:text-primary md:p-0 font-bold;
}

header nav .mobile-menu {
    @apply border border-primary rounded;
}

/* Forms */
form {
    @apply flex flex-col mt-10;
}

.login input[type="email"],
.login input[type="text"],
.login input[type="password"] {
    @apply h-10 mb-3 px-3 shadow rounded-full border border-b-2 focus-visible:outline-none focus-visible:border-gray-600;
}

#registerPost input,
#registerPost textarea {
    @apply mb-3 p-3 shadow border border-b-2 focus-visible:outline-none focus-visible:border-gray-600;
}

#registerPost .btnPost {
    @apply mt-4 cursor-pointer py-1 px-4 bg-dark text-white border border-transparent transition-all hover:bg-white hover:text-dark hover:border-dark hover:transition-all;
}

.btnDiv {
    @apply flex justify-between flex-col lg:flex-row text-center lg:text-left items-center mt-4;
}

.btnDiv a {
    @apply cursor-pointer underline transition-all hover:text-blue-500;
}

.btnLogin {
    @apply mt-4 lg:mt-0 cursor-pointer rounded-full py-1 px-4 bg-dark text-white border border-transparent transition-all hover:bg-white hover:text-dark hover:border-dark hover:transition-all;
}

.btnRegister {
    @apply mt-4 lg:mt-0 cursor-pointer rounded-full py-1 px-4 bg-white text-dark border border-transparent transition-all hover:bg-dark hover:text-white hover:border-white hover:transition-all;
}

/* Loading */
.lds-roller {
    @apply inline-block relative w-[80px] h-[80px];
    -webkit-transform: scale(.5);
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}

.lds-roller div:after {
    content: " ";
    @apply block absolute w-[7px] h-[7px] rounded-[50%] bg-white -mt-1 -ml-1;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    @apply top-[63px] left-[63px];
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    @apply top-[68px] left-[56px];
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    @apply top-[71px] left-[48px];
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    @apply top-[72px] left-[40px];
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    @apply top-[71px] left-[32px];
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    @apply top-[68px] left-[24px];
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    @apply top-[63px] left-[17px];
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    @apply top-[56px] left-[12px];
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}